html,body {
    background: radial-gradient(rgb(12, 12, 86),rgb(7, 7, 61),rgb(5, 5, 56));
    height: 100%;
    color:white;
    font-size: 18px;
}


.text-container h1 {
    text-align: center;
}

.text-container  {
    width: 800px;
    margin: 0 auto;
    
}

.title-panel {
    border-radius:15px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(rgb(29, 151, 237),rgb(21, 16, 97),rgb(21, 16, 97),rgb(12, 145, 237));
    
}

.form-row {
    padding: 0px 0px 10px 0px;
}

.group-form {
    margin: 0 auto;
    border: 1px ridge; 
    border-radius: 5px;
    padding:5px;
    margin-bottom: 10px;
}

.group-form div {
    margin-bottom:5px;
}


.span-label {
    display:inline-block;
    text-align:left;
}

.round-panel 
{
    border-radius: 27px;
    padding: 27px;
    border: 1px solid lightgray;
    /*box-shadow: 10px 10px 5px #888888;*/
}
.main-form
{
    display:block;
    margin: 0 auto;
    width: 220px;
    background: rgb(152, 196, 247);
    color: rgb(3, 3, 3);
    
}
.center-text {
    text-align: center;
    width: 100%;
    padding: 0px 0px 15px 0px;
}

.main-form input[type=number]
{
    width:53px;
}

.main-form h1 {
    font-size: 19px;
}


.round-button
{
    display:inline-block;
    text-align:center;
    border-radius:10px;
    border: 1px solid;
    padding: 5px;
    background: linear-gradient(darkblue,darkblue);
    color: white;
    cursor: default;
    box-shadow: 2px 2px 0px rgb(57, 110, 173);
}