bin/alcoforado.github.io.dll
bin/alcoforado.github.io.dll.config
bin/alcoforado.github.io.pdb
obj/Debug/alcoforado.github.io.csproj.FileListAbsolute.txt
obj/Debug/alcoforado.github.io.csprojResolveAssemblyReference.cache
obj/Debug/alcoforado.github.io.dll
obj/Debug/alcoforado.github.io.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Castle.Core.3.3.0/ASL - Apache Software Foundation License.txt
packages/Castle.Core.3.3.0/BreakingChanges.txt
packages/Castle.Core.3.3.0/Castle.Core.3.3.0.nupkg
packages/Castle.Core.3.3.0/Changes.txt
packages/Castle.Core.3.3.0/lib/net35/Castle.Core.dll
packages/Castle.Core.3.3.0/lib/net35/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/net40-client/Castle.Core.dll
packages/Castle.Core.3.3.0/lib/net40-client/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/net45/Castle.Core.dll
packages/Castle.Core.3.3.0/lib/net45/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/sl4/Castle.Core.dll
packages/Castle.Core.3.3.0/lib/sl4/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/sl5/Castle.Core.dll
packages/Castle.Core.3.3.0/lib/sl5/Castle.Core.xml
packages/Castle.Core.3.3.0/License.txt
packages/Castle.Core.3.3.0/readme.txt
packages/Castle.WcfIntegrationFacility.3.3.0/ASL - Apache Software Foundation License.txt
packages/Castle.WcfIntegrationFacility.3.3.0/BreakingChanges.txt
packages/Castle.WcfIntegrationFacility.3.3.0/Castle.WcfIntegrationFacility.3.3.0.nupkg
packages/Castle.WcfIntegrationFacility.3.3.0/Changes.txt
packages/Castle.WcfIntegrationFacility.3.3.0/lib/net35/Castle.Facilities.WcfIntegration.dll
packages/Castle.WcfIntegrationFacility.3.3.0/lib/net35/Castle.Facilities.WcfIntegration.xml
packages/Castle.WcfIntegrationFacility.3.3.0/lib/net40/Castle.Facilities.WcfIntegration.dll
packages/Castle.WcfIntegrationFacility.3.3.0/lib/net40/Castle.Facilities.WcfIntegration.xml
packages/Castle.WcfIntegrationFacility.3.3.0/lib/net45/Castle.Facilities.WcfIntegration.dll
packages/Castle.WcfIntegrationFacility.3.3.0/lib/net45/Castle.Facilities.WcfIntegration.xml
packages/Castle.WcfIntegrationFacility.3.3.0/License.txt
packages/Castle.WcfIntegrationFacility.3.3.0/readme.txt
packages/Castle.Windsor.3.3.0/ASL - Apache Software Foundation License.txt
packages/Castle.Windsor.3.3.0/BreakingChanges.txt
packages/Castle.Windsor.3.3.0/Castle.Windsor.3.3.0.nupkg
packages/Castle.Windsor.3.3.0/Changes.txt
packages/Castle.Windsor.3.3.0/lib/net35/Castle.Windsor.dll
packages/Castle.Windsor.3.3.0/lib/net35/Castle.Windsor.xml
packages/Castle.Windsor.3.3.0/lib/net40/Castle.Windsor.dll
packages/Castle.Windsor.3.3.0/lib/net40/Castle.Windsor.xml
packages/Castle.Windsor.3.3.0/lib/net40-client/Castle.Windsor.dll
packages/Castle.Windsor.3.3.0/lib/net40-client/Castle.Windsor.xml
packages/Castle.Windsor.3.3.0/lib/net45/Castle.Windsor.dll
packages/Castle.Windsor.3.3.0/lib/net45/Castle.Windsor.xml
packages/Castle.Windsor.3.3.0/lib/sl4/Castle.Windsor.dll
packages/Castle.Windsor.3.3.0/lib/sl4/Castle.Windsor.xml
packages/Castle.Windsor.3.3.0/lib/sl5/Castle.Windsor.dll
packages/Castle.Windsor.3.3.0/lib/sl5/Castle.Windsor.xml
packages/Castle.Windsor.3.3.0/License.txt
packages/Castle.Windsor.3.3.0/readme.txt
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
packages/jQuery.1.10.2/Tools/common.ps1
packages/jQuery.1.10.2/Tools/install.ps1
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/jQuery.1.10.2/Tools/uninstall.ps1
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nupkg
packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nupkg
packages/Microsoft.AspNet.WebApi.5.0.0/Microsoft.AspNet.WebApi.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.0.0/lib/net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.0.0/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.0.0/lib/portable-wp8+netcore45+net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.0.0/lib/portable-wp8+netcore45+net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.0.0/Microsoft.AspNet.WebApi.Client.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.0.0/content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.0.0/lib/net45/System.Web.Http.dll
packages/Microsoft.AspNet.WebApi.Core.5.0.0/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.5.0.0/Microsoft.AspNet.WebApi.Core.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.0.0/lib/net45/System.Web.Http.WebHost.dll
packages/Microsoft.AspNet.WebApi.WebHost.5.0.0/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.0.0/Microsoft.AspNet.WebApi.WebHost.5.0.0.nupkg
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nupkg
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.dll
packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/Newtonsoft.Json.5.0.6.nupkg
packages/repositories.config
packages/TechData.EC.Services.Logging.DataContract.1.0.1-build1374/lib/net45/TechData.EC.Services.Logging.DataContract.dll
packages/TechData.EC.Services.Logging.DataContract.1.0.1-build1374/TechData.EC.Services.Logging.DataContract.1.0.1-build1374.nupkg
alcoforado.github.io.csproj.user
alcoforado.github.io.v12.suo
WebGL/WebGL.sln
WebGL/WebGL.v11.suo
WebGL/WebGL.v12.suo
