<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style type="text/css">
        @charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }
    </style>





    <link rel="stylesheet" href="css/binpack.css">




    <!--<script src="javascript/effects.js"></script>-->
    <script data-main="javascript/require_config" src="javascript/require.js"></script>


</head>
<body ng-controller="Ctrl as controller">
    <div class="text-container">

        <div class="title-panel">
            <h1> Unbounded Bin Pack 2D Problem   </h1>
        </div>

        <p>
            Organize a set of rectangles regions with minimum wasted area in a larger rectangle.
            Best solution is not garanteed. Bin Pack is an NP-Hard problem.`
        </p>
        <div class="centralize">
            <form class="main-form round-panel">
                <div class="title center-text">
                    <h1>Rectangles Random Generation</h1>
                </div>
                <div class="form-row">
                    <span class="span-label">Number of Elements:</span> <input ng-model="Data.NumElements" type="number" min="0" max="99999" value="" />
                </div>
                <div class="form-row">
                    <span class="span-label">Number of Runs:</span> <input ng-model="Data.numberOfRuns" type="number" min="1" max="99999" value="" />
                </div>
                <div class="form-row">
                    <span class="span-label">Rotate Rectangles:</span> <input ng-model="Data.rotate" type="checkbox"/>
                </div>


                <div class="group-form">
                    <div>Width</div>
                    <div>   <span>Min </span><input type="number" value="" ng-model="Data.WidthRange.a" /> <span> Max </span><input ng-model="Data.WidthRange.b" type="number" value="" /></div>
                </div>
                <div class="group-form">
                    <div>Height</div>
                    <div>   <span>Min </span><input type="number" value="" ng-model="Data.HeightRange.a" /> <span> Max </span><input ng-model="Data.HeightRange.b" type="number" value="" /></div>
                </div>

                <div class="center-text" ng-click="controller.Run()">
                    <div class="round-button">
                        Run Simulation
                    </div>
                </div>

                <div class="center-text" ng-show="Data.rectList.length != 0" ng-click="controller.RunAgain()">
                    <div class="round-button">
                        Run Again
                    </div>
                </div>


            </form>

            <div class="efficiency-graph-container"></div>
        </div>
    </div>

    <div ng-repeat="model in Data.rectList" class="rectangle" style="width:{{model.width}}px;height:{{model.height}}px;background-color: rgb({{model.color[0]}},{{model.color[1]}},{{model.color[2]}})">
    </div>


    <div id="Container"></div>

</body>
</html>
